<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>error</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/signin.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="form-control alert alert-danger alert-dismissible fade show" style="text-align: center;">페이지를 찾을수 없습니다.</div>
			<p class="text-center"><a class="btn btn-danger" href="/">확인</a></p>
		</div>
	</div>
</body>
</html>